<!DOCTYPE html>
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      title Document
      link(rel="stylesheet" href="css/style.css")
   body

      //- Mixins
      mixin svg(name, classList)
         svg(class=`icon ${classList}`)
            use(xlink:href=`svg/sprite.svg${name}`)

      mixin squareBlock(obj)
         .p-menu__square
            img.p-menu__img(src=`img/${obj.image}`)
            .p-menu__symbol
               +svg(obj.svg, 'p-menu__icon-symbol')

      mixin addSelect(classList)
         div(class=`select ${classList}`)
            span.select__value.select__text Москва
            +svg('#static-mobile', 'icon-select-caret')
            .select__dropdown
               .select__option.select__text Краснодар
               .select__option.select__option_selected.select__text Москва
               .select__option.select__text Санкт-Петербург

      - 
         let socialList = [
            {type: '#instagram', link: 'http://instagram.com'},
            {type: '#vk', link: 'http://vk.com'},
            {type: '#fb', link: 'http://facebook.com'},
            {type: '#tw', link: 'http://tw.com'},
         ]

      mixin addSocialList(section)
         div(class=`${section}__social-list`)
            - for (let i=0; i<socialList.length; i++)
               div(class=`${section}__social-item`)
                  a(href=`${socialList[i].link}`)
                     +svg(socialList[i].type, `${section}__icon-social`)

      //- ---------------------------------- BODY

      header.header
         video.header__video(src="video/teremok_final.mp4" loop muted autoplay preload="auto" poster="video/video-1920.jpg")

         .header__topline
            .header__navbar
               a.header__logo(href="#")
                  +svg('#logo', 'header__icon-logo')

               nav.header__menu
                  a.header__menu-item(href="#")
                     +svg('#forum', 'header__menu-icon header__icon-forum')
                     span.header__menu-text Ваше мнение
                  .header__menu-wrapper
                     a.header__menu-item.header__menu-item_select(href="#" data-dropdown=".header__dropdown_menu")
                        +svg('#food-menu', 'header__menu-icon header__icon-food-menu')
                        span.header__menu-text Наше меню
                        +svg('#static', 'header__icon-dropdown')
                  a.header__menu-item.header__menu-item_desktop(href="#")
                     span.header__menu-text Акции
                  a.header__menu-item.header__menu-item_desktop(href="#")
                     span.header__menu-text Наши теремки

               .header__location(data-dropdown=".header__dropdown_city")
                  +svg('#menu', 'header__icon-location ')
                  span.header__menu-text Москва

               .header__burger
                  a.header__burger-link(href="#mfp-menu")
                     span.header__burger-line

            .header__dropdown.header__dropdown_menu
               a.header__dropdown-link(href="#") Новинки
               a.header__dropdown-link(href="#") Завтраки
               a.header__dropdown-link(href="#") Основное меню
               a.header__dropdown-link(href="#") Домашние обеды
               a.header__dropdown-link(href="#") Напитки

            .header__dropdown.header__dropdown_city
               a.header__dropdown-link(href="#") Краснодар
               a.header__dropdown-link(href="#") Москва
               a.header__dropdown-link(href="#") Санкт-Петербург



         .wrapper
            .header__content
               h1.header__title «Теремок»
               .header__subtitle-wrapper
                  +svg('#teremok_slogan_small', 'header__icon-slogan')
                  span.header__subtitle_first это
                     +svg('#teremok_slogan_small', 'header__icon-slogan header__icon-slogan_right')
               span.header__subtitle_second не фастфуд!
               p.header__text Мы придерживаемся современного улучшенного подхода к быстрому питанию, в котором отменный вкус cочетается с высокой скоростью обслуживания
               .header__arrow-block
                  +svg('#pointer-animate', 'header__icon-pointer')
                  +svg('#arrow-large', 'header__icon-arrow-down ')


      section.section.content
         .wrapper.content-wrapper_mobile
            .content__columns
               .content__column_static
                  .content__menu.menu
                     h2.section-title.menu__title Наше меню
                     - let categories = ["домашние обеды", "блины сытные", "блины сладкие", "супы", "каши и гарниры ", "салаты", "пельмени", "сырники"]
                        .menu__category-slider
                           span.menu__category-underline
                           .menu__category
                              each value in categories
                                 .menu__category-item= value
                           .menu__category-arrow.menu__category-arrow_left
                              +svg('#static', 'menu__icon-menu-slider menu__icon-menu-slider_left')
                           .menu__category-arrow.menu__category-arrow_right
                              +svg('#static', 'menu__icon-menu-slider menu__icon-menu-slider_right')

                     .menu__product-slider_mobile
                        .menu__product_mobile
                           - let n = 0
                           while n < (categories.length*3)
                              .menu__product-item(data-product=`${Math.round((n-1) / 3)}`)
                                 img(src=`img/product-0.png`)
                                 span.menu__product-text= `Вкусные ${categories[Math.round((n-1) / 3)]} номер ${n++}`

                     .menu__product-sliders
                           - let slider = 0
                           - let item = 0
                           while slider < categories.length
                              - let randomBg = 15 * Math.floor(Math.random()*5 + 1)
                              .menu__product-item(class=`menu__product-item_bg-${randomBg}`)
                                 h4.menu__product-title= `${categories[slider++]}`
                                 .menu__product-slider_desktop
                                    - if (item === 3) item = 0
                                    while item < 3
                                       .menu__product-slide
                                          img(src=`img/product-${item}.png`)
                                          span.menu__product-text= `Вкусные ${categories[slider-1]} номер ${item++}`

                     .menu__buttons
                        a.button.menu__button.menu__button_mobile(href="#") Все меню
                        a.button.menu__button(href="#") Купоны


                  .content__opinion.opinion.opinion_mobile
                     .opinion__content
                        +svg('#vashe_mnenie', 'opinion__icon-opinion')
                        .opinion-wrapper
                           p.opinion__text Помогите нам сделать наши теремки лучше! Заходите на форум, и оставляйте ваши отзывы и пожелания
                           a.button.opinion__btn(href="#") Оставить отзыв


                  .content__offer.offer
                     .offer-slider
                        .offer__list.offer__list_mobile
                           - for(let i = 0; i < 3; i++)
                              .offer__item.offer__item_mobile
                                 img(src="img/soup-mobile.jpg" alt="")
                        .offer__list.offer__list_desktop
                           - for(let i = 0; i < 3; i++)
                              .offer__item.offer__item_desktop
                                 img(src=`img/offer-slide-${i}.jpg` alt="")


               .content__column_dynamic
                  .content__opinion.opinion.opinion_desktop
                     .opinion__content
                        +svg('#vashe_mnenie', 'opinion__icon-opinion')
                        .opinion-wrapper
                           p.opinion__text Помогите нам сделать наши теремки лучше! Заходите на форум, и оставляйте ваши отзывы и пожелания
                           a.button.opinion__btn(href="#") Оставить отзыв

                  - 
                     let newsList = [
                        {tag: 'Новости', title:'Фотоконкурс #ТеремокВкусно в Instagram', date: '29.11.2017'},
                        {tag: 'Пресса о нас', title:'Секреты успешного предпринимательства от Михаила Гончарова', date: '29.11.2017'},
                        {tag: 'Горячие блинновости', title:'Фотоконкурс #ТеремокВкусно в Instagram', date: '29.11.2017'},
                        {tag: 'Пресса о нас', title:'«Теремок» в топ-50 лучших заведений Нью-Йорка!'},
                        {tag: 'Горячие блинновости', title:'«Теремок» — убойная сила!', date: '29.11.2017'},
                        {tag: 'Горячие блинновости', title:'Фотоконкурс #ТеремокВкусно в Instagram', date: '29.11.2017'},
                        {tag: 'Новости', title:'Фотоконкурс #ТеремокВкусно в Instagram', date: '29.11.2017'},
                        {tag: 'Пресса о нас', title:'Секреты успешного предпринимательства от Михаила Гончарова', date: '29.11.2017'},
                        {tag: 'Горячие блинновости', title:'Фотоконкурс #ТеремокВкусно в Instagram', date: '29.11.2017'},
                        {tag: 'Пресса о нас', title:'«Теремок» в топ-50 лучших заведений Нью-Йорка!'},
                        {tag: 'Горячие блинновости', title:'«Теремок» — убойная сила!', date: '29.11.2017'},
                        {tag: 'Горячие блинновости', title:'Фотоконкурс #ТеремокВкусно в Instagram', date: '29.11.2017'},
                        ]
                  .content__news.news 
                     .wrapper
                        .news__list
                           mixin news(obj, index)
                              div(class=`news__item ${index < 6 ? "" : 'news__item_desktop'}`) 
                                 span.news__tag= obj.tag
                                 - let font
                                 case (index % 3)
                                    when 0
                                       - font = 'gora'
                                    when 1
                                       - font = 'hagin'
                                    when 2
                                       - font = 'montserrat-black'
                                 h3(class=`news__title news__title_${font}`)= obj.title  
                                 span.news__date= obj.date
                           
                           - for (let i = 0; i < newsList.length; i++)
                              +news(newsList[i], i)

                        a.button.news__btn(href="#") Все события


      section.section.about
         .wrapper
            .about__list
               .about__item.about__item_left
                  .about__header.about__header_work
                     img.about__img(src="img/our_team-old.jpg", alt="")
                     .about__content
                        h3.about__title Работа
                        +svg('#line', 'about__icon-divider')
                        span.about__subtitle у нас
                  .about__description
                     p.about__text Мы любим и уважаем наших сотрудников, а они в свою очередь ответственно относятся к своей работе, чтобы ежедневно радовать наших гостей. Стань частью нашей команды, и получи бесценный опыт, с возможностью карьерного роста
                     a.button.about__btn Наши вакансии
               .about__item.about__item_right
                  .about__header.about__header_teremki
                     img.about__img(src="img/teremki.jpg", alt="")
                     .about__content
                        h3.about__title Наши
                        +svg('#line', 'about__icon-divider')
                        span.about__subtitle теремки
                  .about__description
                     p.about__text Компания "Теремок" основана в 1998 году. В настоящее время "Теремок" – крупнейшая сеть ресторанов русской кухни, насчитывающая более 280 точек. Мы постоянно развиваемся, открывая новые рестораны.
                     a.button.about__btn Наши заведения


      section.section.partners
         .wrapper
            .partners__content
               h2.section-title.partners__title Для партнеров
               p.partners__text Наша компания всегда находится в поисках новых партнеров. Если у вас есть какое-то предложение мы готовы его рассмотреть, и связаться с вами для дальнейшего обсуждения сотрудничества
               a.button.partners__btn_red Стать партнером 

         .partners__buttons
            a.button.partners__btn Партнеры
            a.button.partners__btn.partners__btn_wo-border Поставщики
         .partners__slider
            .partners__slider-list
               - for(let i = 0; i < 8; i++)
                  .partners__slider-item
                     .partners__slider-img
            .partners__slider-arrow.partners__slider-arrow_left
               +svg('#arrow-large', 'partners__icon-arrow-large')
            .partners__slider-arrow.partners__slider-arrow_right
               +svg('#arrow-large', 'partners__icon-arrow-large')


      footer.footer
         .wrapper
            .footer__content_mobile
               span.footer__office Центральный офис в Москве
               a.footer__phone(a="#" tel="+74959562730") +7 (495) 956-27-30 
               +addSelect('footer__select')
               .footer__copy @ Теремок, 2017

            .footer__content_desktop
               .footer__item.footer__item_logo
                  a.footer__logo(href="#")
                     +svg('#logo', 'footer__icon-logo')

               mixin footerBlock(arr)
                  .footer__item
                     - for (let i = 0; i < arr.length; i++)
                        a.footer__link(href="")= arr[i]
               
               +footerBlock(['О Теремке', 'Меню', 'Калькулятор калорий', 'Акции', 'Наши заведения'])
               +footerBlock(['Контакты', 'Ваше мнение', 'События', 'Работа у нас'])
               +footerBlock(['Предложить помещение', 'Предложить продукцию', 'Прессе', 'Партнерство', 'Связаться с руководством'])

               .footer__item.footer__item_contact
                  a.footer__email(href="" mailto="office@teremok.ru") office@teremok.ru
                  address.footer__address 119021, Москва, Зубовский бульвар, д. 22/39
                  a.footer__phone(href="" tel="+74959562730") +7 (495) 956-27-30
                  a.footer__phone(href="" tel="+74957369394") +7 (495) 736-93-94

         .footer__bottom
            .wrapper
               .footer__bottom-content
                  .footer__copy.footer__copy_bottom @ Теремок, 2017
                  +addSocialList('footer')
                  .footer__developer
                     a.footer__developer-link(href="#") Разработка сайта - ADN Digital Studio


//- -------------------- Popup 

.white-popup-block.mfp-hide#mfp-menu

   //- Mobile 
   .p-menu.p-menu_mobile
      .p-menu__section_top.p-menu__section
         .p-menu__close-btn
            +svg('#desktop-close', 'p-menu__icon-close')
         .p-menu__logo
            +svg('#logo', 'p-menu__icon-logo')
         .p-menu__list
            a.p-menu__link(href="#") Наше меню
            a.p-menu__link(href="#") Ваше мнение
            a.p-menu__link(href="#") О теремке
            a.p-menu__link(href="#") Работа у нас
            a.p-menu__link(href="#") Наши акции
            a.p-menu__link(href="#") События
            a.p-menu__link(href="#") наши теремки
            a.p-menu__link(href="#") Контакты
         +addSocialList('p-menu')
      .p-menu__section_bottom.p-menu__section
         .p-menu__list.p-menu__list_bottom
            a.p-menu__link.p-menu__link_black(href="#") калькулятор калорий
            a.p-menu__link.p-menu__link_black(href="#") Предложить помещение
            a.p-menu__link.p-menu__link_black(href="#") Предложить продукцию
            a.p-menu__link.p-menu__link_black(href="#") Прессе
            a.p-menu__link.p-menu__link_black(href="#") Партнерство
            a.p-menu__link.p-menu__link_black(href="#") Связаться с руководством
         +addSelect('p-menu__select')
         .p-menu__delivery
            span.p-menu__delivery-text Доставка наших блюд в Москве - FOODFOX
   
   //- Desktop 
   .p-menu.p-menu_desktop
      .p-menu__block.p-menu__block_left
         +squareBlock({image: 'p-menu-1.jpg', svg: '#o_teremke'})
         +squareBlock({image: 'p-menu-2.jpg', svg: '#nashe_menu'})
      .p-menu__block.p-menu__block_mid
         +squareBlock({image: 'p-menu-2.jpg', svg: '#vashe_mnenie'})
         +squareBlock({image: 'p-menu-1.jpg', svg: '#nashi_akcii'})

      .p-menu__block.p-menu__block_right
         .p-menu__close-btn
            +svg('#desktop-close', 'p-menu__icon-close')
         .p-menu__logo
            +svg('#logo', 'p-menu__icon-logo')
         +addSelect('p-menu__select')
         .p-menu__list
            a.p-menu__link(href="#") События
            a.p-menu__link(href="#") Наши заведения
            a.p-menu__link(href="#") Работа у нас
            a.p-menu__link(href="#") Контакты
            a.p-menu__link(href="#") Калькулятор калорий
         +addSocialList('p-menu')
         .p-menu__delivery
            span.p-menu__delivery-text Доставка наших блюд в Москве - FOODFOX

      script(src="js/main.min.js")